*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body{
    font-family: Helvetica, sans-serif;
}

h1{
    font-size: 40px;
    color: #fff;
    text-align: left;
}

h2{
    font-size: 30px;
    color: #fff;
    text-align: right;
}

p{
    font-size: 20px;
    color: #fff;
    text-align: right;
}

.section{
    padding: 80px, 0;
}

.container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    width: 100%;
    height: 85px;
    background: #fff;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.header-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1{
    display: inline-block;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
}

.button2{
    display: inline-block;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
}

.home-page{
    max-width: 250vh;
    height: 700px;
    background-image: url('../assets/images/background.png');
    background-size: cover;
    background-position: center;
}

.textbox{
    text-align: center;
    padding: 80px 0;
}